# Default code owners for the repository
# Pattern format: https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @denisbredikhin
